@model OnTime.DataLayer.Entities.WeChatAccount
@using System.Xml.Serialization.Configuration
@using OnTime.DataLayer.Entities
@using OnTime.DataLayer.Enum
@using System.Configuration;
@{
    List<PageImage> images = ViewBag.images as List<PageImage>;
    Layout = null;
    string RootPath = ViewBag.ResourceRootPath;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐财经</title>
    <link href="~/Content/Default.css" rel="stylesheet" />
</head>
<body>
<div class="zt-row" style="height: 810px; background-image: url(@Url.Content(RootPath+images.First(t=>t.Position==PagePosition.lcj_zt_01).Path));">
    <div class="codeArea" style="padding-top: 400px;">
        <div class="code" style="width: 280px; height: 280px; background-color: #fff; margin-left: 345px;">
            <img src=@Url.Content(RootPath+Model.BarCode) style="width: 280px; height: 280px;"/>
        </div>
    </div>
</div>
<div class="zt-row" style="height: 610px; background-image: url(@Url.Content(RootPath+images.First(t=>t.Position==PagePosition.lcj_zt_02).Path));">
    <div class="codeArea" style="padding-top: 88px;">
        <a href="##" class="link-btn"><img class="get" src="~/Content/images/get.png" alt=""></a>
        <div class="code-text" style="font-size: 24px; width: 472px; margin: 0 auto;">（或手动添加<span style="color: #ef0125;">微信号：<span>@Model.AccountId</span></span>）</div>
    </div>
</div>
<div class="zt-row" style="height: 870px; background-image: url(@Url.Content(RootPath+images.First(t=>t.Position==PagePosition.lcj_zt_03).Path));">
    <div class="codeArea" style="padding-top: 680px;">
        <a href="##" class="link-btn"><img class="get" src="~/Content/images/get2.png" alt=""></a>
    </div>
</div>
<div class="zt-row" style="height: 1020px; background-image: url(@Url.Content(RootPath+images.First(t=>t.Position==PagePosition.lcj_zt_04).Path));">
    <div class="codeArea" style="padding-top: 888px;">
        <a href="##" class="link-btn"><img class="get" src="~/Content/images/get2.png" alt=""></a>
    </div>
</div>
<div class="zt-row" style="height: 880px; background-image: url(@Url.Content(RootPath+images.First(t=>t.Position==PagePosition.lcj_zt_05).Path));"></div>
<div class="zt-row" style="height: 410px; background-image: url(@Url.Content(RootPath+images.First(t=>t.Position==PagePosition.lcj_zt_06).Path));">
    <div class="codeArea" style="padding-top: 70px;">
        <div class="code" style="width: 260px; height: 260px; background-color: #fff; margin-left: 690px;">
            <img src="@Url.Content(RootPath+Model.BarCode)" style="width: 260px; height: 260px;"/>
        </div>
    </div>
</div>
<div class="zt-row" style="height: 600px; background-image: url(@Url.Content(RootPath+images.First(t=>t.Position==PagePosition.lcj_zt_07).Path));">
    <div class="codeArea" style="padding-top: 210px;">
        <a href="##" class="link-btn" style="display: block; width: 700px; height: 120px; margin-left: 94px;"></a>
    </div>
</div>
<div class="alertBox">
    <div class="codeArea" style="width: 100%; padding-top: 83px;">
        <div class="code" style="width: 170px; height: 170px; background-color: #fff; margin-left: 66px;">
            <img src="@Url.Content(RootPath+Model.BarCode)" style="width: 170px; height: 170px;"/>
        </div>
        <div class="text-info">
            <p>打开微信扫一扫</p>
            <p>添加微信号：<span class="codeNum">@Model.AccountId</span></p>
            <p>免费领取《超短线牛股》</p>
        </div>
    </div>
</div>
<div class="linkBox" id="linkBox">
    <div class="text-info">
        <p style="font-size: 18px;">（或手动加微信号：<span class="codeNum">@Model.AccountId</span>）</p>
        <div class="code" style="width: 240px; height: 240px; background-color: #fff; margin-left: 130px; margin-top: 13px;">
            <img src="@Url.Content(RootPath+Model.BarCode)" style="width: 240px; height: 240px;"/>
        </div>
    </div>
</div>
<div class="mask"></div>
<script type="text/javascript">
    window.onload = function(){
        var imgs = document.querySelectorAll('.codeArea img.get');
        var p = document.querySelectorAll('.code-text');
        var btn = document.querySelectorAll('.link-btn');
        var mask = document.querySelector('.mask');
        var linkBox = document.getElementById('linkBox');
        setInterval(function(){
            [].forEach.call(imgs, function(img){
                if(img.classList.contains("active")){
                    img.classList.remove("active");
                } else {
                    img.classList.add("active");
                }
            });
            [].forEach.call(p, function(ele){
                if(ele.classList.contains("active")){
                    ele.classList.remove("active");
                } else {
                    ele.classList.add("active");
                }
            });
        }, 500);

        [].forEach.call(btn, function(item){
            item.onclick = function () {
                mask.style.display = "block";
                linkBox.style.transform = "scale(1)";
            }
        })

        document.addEventListener('click', function(e){
            if(e.target.className.toUpperCase() === "MASK"){
                mask.style.display = "none";
                linkBox.style.transform = "scale(0)";
            }
        })
    }
</script>

@*<div class="zt-row" style="height: 810px; background-image: url(@Url.Content(images.First(t=>t.Position==PagePosition.lcj_zt_01).Path));">
    <div class="codeArea" style="padding-top: 400px;">
        <div class="code" style="width: 280px; height: 280px; background-color: #fff; margin-left: 345px;">
            <img src="@Url.Content(Model.BarCode)" style="width: 280px; height: 280px;"/>
        </div>
    </div>
</div>
<div class="zt-row" style="height: 610px; background-image: url(@Url.Content(images.First(t=>t.Position==PagePosition.lcj_zt_02).Path));">
    <div class="codeArea" style="padding-top: 88px;">
        <img src="~/Content/images/get.png" class="get" alt="">
        <div class="code-text" style="font-size: 24px; width: 550px; margin: 0 auto;">（或手动添加<span style="color: #ef0125;">微信号：<span>@Model.AccountId</span></span>）</div>
    </div>
</div>
<div class="zt-row" style="background-image: url(@Url.Content(images.First(t=>t.Position==PagePosition.lcj_zt_03).Path));">
    <div class="codeArea" style="padding-top: 680px;">
        <img src="~/Content/images/get2.png" class="get" alt="">
    </div>
</div>
<div class="zt-row" style=" background-image: url(@Url.Content(images.First(t=>t.Position==PagePosition.lcj_zt_04).Path));">
    <div class="codeArea" style="padding-top: 888px;">
        <img src="~/Content/images/get2.png" class="get" alt="">
    </div>
</div>
<div class="zt-row" style="height: 880px; background-image: url(@Url.Content(images.First(t=>t.Position==PagePosition.lcj_zt_05).Path));"></div>
<div class="zt-row" style="height: 410px; background-image: url(@Url.Content(images.First(t=>t.Position==PagePosition.lcj_zt_06).Path));">
    <div class="codeArea" style="padding-top: 70px;">
        <div class="code" style="width: 260px; height: 260px; background-color: #fff; margin-left: 690px;">
            <img src="@Url.Content(Model.BarCode)"  style="width: 260px; height: 260px;"/>
        </div>
    </div>
</div>
<div class="zt-row" style="height: 409px; background-image: url(@Url.Content(images.First(t=>t.Position==PagePosition.lcj_zt_07).Path));"></div>
<div class="alertBox">
    <div class="codeArea" style="width: 100%; padding-top: 83px;">
        <div class="code" style="width: 170px; height: 170px; background-color: #fff; margin-left: 66px;">
            <img src="@Url.Content(Model.BarCode)" style="width: 170px; height: 170px;"/>
        </div>
        <div class="text-info">
            <p>打开微信扫一扫</p>
            <p>添加微信号：<span class="codeNum">@Model.AccountId</span></p>
            <p>免费领取《超短线牛股》</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function(){
        var imgs = document.querySelectorAll('.codeArea img.get');
        var p = document.querySelectorAll('.code-text');
        setInterval(function(){
            [].forEach.call(imgs, function(img){
                if(img.classList.contains("active")){
                    img.classList.remove("active");
                } else {
                    img.classList.add("active");
                }
            });
            [].forEach.call(p, function(ele){
                if(ele.classList.contains("active")){
                    ele.classList.remove("active");
                } else {
                    ele.classList.add("active");
                }
            });
        }, 500);
    }
</script>*@
</body>

</html>
